<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>fetch-youtube-bgm</title>
  </head>
  <body>
    <main id="app">
      <v-app>
        <v-container>
          <div class="d-flex align-center justify-space-between">
            <div>
              <v-switch v-model="isHideDefinedArtist" label="アーティスト定義済みを非表示"></v-switch>
            </div>
            <div>
              <v-btn @click="downloadJson()" icon large elevation="2">
                <v-icon>mdi-download</v-icon>
              </v-btn>
            </div>
          </div>

          <div>
            <v-btn block @click="isActiveDialog = true" x-large>ADD NEW TRACK</v-btn>

            <v-dialog v-model="isActiveDialog" persistent>
              <v-card>
                <v-card-title>Add new track</v-card-title>

                <v-card-text>
                  <v-text-field v-model="form.vid" label="YouTube Video Id (Or URL)" @blur="getVideoInfo()" required>
                  </v-text-field>
                  <v-text-field v-model="form.title" label="Title" required></v-text-field>
                  <v-text-field v-model="form.artist" label="Artist"></v-text-field>
                  <v-text-field v-model="form.album" label="Album"></v-text-field>
                  <v-text-field v-model="form.albumArtist" label="AlbumArtist"></v-text-field>
                </v-card-text>

                <v-card-actions>
                  <v-btn color="error" @click="isActiveDialog = false">Cancel</v-btn>
                  <v-spacer></v-spacer>
                  <v-btn color="success" @click="submitForm" :loading="loading">
                    Submit
                  </v-btn>
                </v-card-actions>
              </v-card>
            </v-dialog>
            <v-snackbar v-model="saved" color="success">
              Saved
              <template v-slot:action="{ attrs }">
                <v-btn text v-bind="attrs" @click="saved = false">
                  Close
                </v-btn>
              </template>
            </v-snackbar>
            <v-snackbar v-model="failed" color="error">
              Failed
              <template v-slot:action="{ attrs }">
                <v-btn text v-bind="attrs" @click="failed = false">
                  Close
                </v-btn>
              </template>
            </v-snackbar>
          </div>

          <v-row>
            <v-col v-for="(item, i) in items" :key="i" cols="12"
              v-if="isHideDefinedArtist ? item.artist == null : true">
              <v-card :href="'?vid=' + item.id">
                <div class="d-flex flex-no-wrap justify-space-between">
                  <div>
                    <v-card-title class="text-h5" v-text="item.track + ' - ' + item.artist"></v-card-title>

                    <v-card-subtitle v-text="'Album: ' + item.album + ' / AlbumArtist: ' + item.albumArtist">
                    </v-card-subtitle>
                  </div>

                  <v-avatar class="ma-3" size="125" tile>
                    <v-img :src="'http://i.ytimg.com/vi/' + item.id + '/maxresdefault.jpg'"></v-img>
                  </v-avatar>
                </div>
              </v-card>
            </v-col>
          </v-row>
        </v-container>
      </v-app>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
      new Vue({
        el: '#app',
        vuetify: new Vuetify(),
        data: {
          items: [],
          isActiveDialog: false,
          isHideDefinedArtist: false,
          form: {
            vid: '',
            artist: '',
            album: '',
            albumArtist: ''
          },
          loading: false,
          saved: false,
          failed: false
        },
        mounted() {
          axios.get('/api/info')
            .then(response => {
              this.items = response.data.data
            })
            .catch(error => {
              console.log(error)
            })
        },
        methods: {
          downloadJson() {
            const items = {}
            for (const item of this.items) {
              items[item.id] = {
                track: item.track,
                artist: item.artist,
                album: item.album,
                albumArtist: item.albumArtist
              }
            }
            const blob = new Blob([JSON.stringify(items)], {type: 'application/json'})
            const url = window.URL.createObjectURL(blob)
            const link = document.createElement('a')
            link.href = url
            link.download = 'export-video-informations.json'
            link.click()
          },
          getVideoInfo() {
            const ytLongUrlRegex = /https:\/\/www\.youtube\.com\/watch\?v=([a-zA-Z0-9_-]+)/
            const ytShortUrlRegex = /https:\/\/youtu\.be\/([a-zA-Z0-9_-]+)/

            if (ytLongUrlRegex.test(this.form.vid)) {
              this.form.vid = this.form.vid.match(ytLongUrlRegex)[1]
            } else if (ytShortUrlRegex.test(this.form.vid)) {
              this.form.vid = this.form.vid.match(ytShortUrlRegex)[1]
            }


            axios.get(`https://www.youtube.com/oembed?url=https://www.youtube.com/watch?v=${this.form.vid}&format=json`)
              .then(response => {
                this.form.title = response.data.title
                this.form.artist = response.data.author_name
              })
              .catch(error => {
                console.log(error)
              })
          },
          submitForm() {
            this.loading = true
            axios.patch(`/api/info/${this.videoId}`, this.form)
              .then(response => {
                this.items = response.data.data
                this.loading = false
                this.saved = true
              })
              .catch(error => {
                console.log(error)
                this.loading = false
                this.failed = true
              })
          }
        }
      })
    </script>
  </body>
</html>